<launch>
  <arg name="scanner_parent_frame" default="odom"/>
  <arg name="scanner_params_file" default="$(find lidar_scanner_node)/config/test_params.yaml"/>

  <node name="scanner_relocator" pkg="lidar_scanner_node" type="scanner_relocator" output="screen" required="true">
    <param name="world_frame" value="$(arg scanner_parent_frame)"/>
    <rosparam param="scanner_frames"> ["sensor_1", "sensor_2", "sensor_3"<!--, "sensor_4"-->] </rosparam>
  </node>

  <node name="sensor_aggregator" pkg="sensor_aggregator" type="sensor_aggregator_node" required="true">
    <param name="sensor_common_frame" value="$(arg scanner_parent_frame)"/>
    <param name="pub_freq" value="10"/>
    <param name="filter_output" value="false"/>
  </node>

  <include file="$(find lidar_scanner_node)/launch/start.launch">
    <arg name="params_file" value="$(find a5_startup)/config/leddar_m16.yaml"/>
    <arg name="world_frame_name" value="odom"/>
    <arg name="scanner_name" value="sensor_1"/>
    <arg name="scanner_frame_name" value="sensor_1"/>
  </include>

  <include file="$(find lidar_scanner_node)/launch/start.launch">
    <arg name="params_file" value="$(find a5_startup)/config/leddar_m16.yaml"/>
    <arg name="world_frame_name" value="odom"/>
    <arg name="scanner_name" value="sensor_2"/>
    <arg name="scanner_frame_name" value="sensor_2"/>
  </include>

  <include file="$(find lidar_scanner_node)/launch/start.launch">
    <arg name="params_file" value="$(find a5_startup)/config/ifm_o3d303.yaml"/>
    <arg name="world_frame_name" value="odom"/>
    <arg name="scanner_name" value="sensor_3"/>
    <arg name="scanner_frame_name" value="sensor_3"/>
  </include>

<!--  <include file="$(find lidar_scanner_node)/launch/start.launch">
    <arg name="params_file" value="$(arg scanner_params_file)"/>
    <arg name="world_frame_name" value="odom"/>
    <arg name="scanner_name" value="sensor_4"/>
    <arg name="scanner_frame_name" value="sensor_4"/>
  </include>-->

</launch>
